{% include header.html %}

<h2>Latest From Richard</h2>
<section class="articles-list">
  {% for post in site.posts limit: 5 %}
    <article>
      <span class="post-icon">
        <i class="icon-{{ post.nothing | default:'362' }}"></i>
      </span>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }}</a>
      </h3>
      <span class="post-date">Published {{ post.date | date: "%b %d, %Y" }}</span>
      <p>{{ post.excerpt }}</p>
    </article>
  {% endfor %}
</section>

{% include footer.html %}